$bg-color: #EEEEEE;

$green-main-color: #50B053;
$green-auth-color: #44A248;
$green-shadow-color: #6AAE5E40;

$text-grey-color: #999999;
$svg-grey-color: #757575;
$border-light-grey-color: #CCCCCC;
$border-table-grey-color: #DDDFE0;

$header-text-dark-color: #454545;
$text-darkest-color: #333333;


